<div class="arlo_tm_leftpart_wrap">
    <div class="leftpart_inner">
        <div class="logo_wrap">
            <a href="#"><img src="img/logo/desktop-logo.png" alt="" /></a>
        </div>
        <div class="menu_list_wrap">
            <ul class="anchor_nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="leftpart_bottom">
            <div class="social_wrap">
                <ul>
                    {{#global.social.facebook.visible}}
                    <li><a target="_blank" href="{{global.social.facebook.url}}"><i class="fab fa-{{global.social.facebook.icon}}"></i></a></li>
                    {{/global.social.facebook.visible}}

                    {{#global.social.twitter.visible}}
                    <li><a target="_blank" href="{{global.social.twitter.url}}"><i class="fab fa-{{global.social.twitter.icon}}"></i></a></li>
                    {{/global.social.twitter.visible}}

                    {{#global.social.linkedin.visible}}
                    <li><a target="_blank"  href="{{global.social.linkedin.url}}"><i class="fab fa-{{global.social.linkedin.icon}}"></i></a></li>
                    {{/global.social.linkedin.visible}}

                    {{#global.social.instagram.visible}}
                    <li><a target="_blank"  href="{{global.social.instagram.url}}"><i class="fab fa-{{global.social.instagram.icon}}"></i></a></li>
                    {{/global.social.instagram.visible}}

                    {{#global.social.github.visible}}
                    <li><a target="_blank"  href="{{global.social.github.url}}"><i class="fab fa-{{global.social.github.icon}}"></i></a></li>
                    {{/global.social.github.visible}}
                </ul>
            </div>
        </div>
        <a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
    </div>
</div>